*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	padding: 1em 2rem;
	color: #1e1e1e;
	font-family:
		Segoe UI,
		system-ui,
		-apple-system,
		sans-serif;
	font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
	overflow-wrap: break-word;
}

details {
	cursor: pointer;
}

pre {
	overflow-wrap: break-word;
	white-space: pre-wrap;
	background-color: #f8f9fa;
	padding: 10px;
	border-radius: 5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
