<!doctype html>
<html>
	<body>
		<div
			style="
				background-color: #fbfafa;
				color: #000000;
				font-family: 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.15008px;
				line-height: 1.5;
				margin: 0;
				padding: 32px 0;
				min-height: 100%;
				width: 100%;
			"
		>
			<table
				align="center"
				width="100%"
				style="margin: 0 auto; max-width: 600px; background-color: #ffffff; border-radius: 5px"
				role="presentation"
				cellspacing="0"
				cellpadding="0"
				border="0"
			>
				<tbody>
					<tr style="width: 100%">
						<td>
							<div style="background-color: #fbfafa; padding: 16px 24px 16px 24px">
								<h1
									style="
										font-weight: bold;
										text-align: center;
										margin: 0;
										font-size: 32px;
										padding: 16px 24px 16px 24px;
									"
								>
									<a
										style="text-decoration: none"
										href="https://notify.jaw.dev/"
										target="_blank"
										title="notify"
										>🔔 Notify</a
									>
								</h1>
							</div>
							<div
								style="border: 1px dashed black; border-radius: 5px; padding: 16px 24px 16px 24px"
							>
								<div style="font-weight: normal; padding: 16px 24px 16px 24px">
									Hello <%= username %>,
								</div>
								<div style="font-weight: normal; padding: 16px 24px 16px 24px"><%~ message %></div>
								<div style="font-weight: normal; padding: 16px 24px 16px 24px">
									Thanks,
									<br />
									Notify team
								</div>
							</div>
							<div style="background-color: #fbfafa; padding: 16px 24px 16px 24px">
								<div style="font-weight: normal; text-align: center; padding: 16px 24px 16px 24px">
									<p>
										© <%= new Date().getFullYear() %> Notify. Made with ❤️ by
										<a
											style="text-decoration: none"
											href="https://github.com/wajeht"
											title="https://github.com/wajeht"
											target="_blank"
											>wajeht</a
										>
									</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
