<div style="display: flex; flex-direction: column; gap: 20px;">
  <div>
    <h2>🆕 Apps / New</h2>
    <p>Create a new app</p>
  </div>

  <form
    style="border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;"
    action="/apps" method="POST">

    <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

    <div style="display: flex; flex-direction: column; gap: 5px;">
      <label for="name">🔤 Name<span style="color: red;">*</span></label>
      <input type="text" id="name" name="name" placeholder="name" style="width: 100%;" required>

      <% if (state.errors.name) { %>
        <small style="color: red;"><%= state.errors.name %></small>
      <% } %>
    </div>

    <div style="display: flex; flex-direction: column; gap: 5px;">
      <label for="url">🌐 Url</label>
      <input type="url" id="url" name="url" placeholder="https://example.com" pattern="https://.*" style="width: 100%;">

      <% if (state.errors.url) { %>
        <small style="color: red;"><%= state.errors.url %></small>
      <% } %>
    </div>

    <div style="display: flex; flex-direction: column; gap: 5px;">
      <label for="description">📝 Description</label>
      <textarea name="description" id="description" rows="4" placeholder="description" style="width: 100%;"></textarea>

      <% if (state.errors.description) { %>
        <small style="color: red;"><%= state.errors.description %></small>
      <% } %>
    </div>

    <div>
      <label for="is_active">🚦 Status</label>
      <input type="checkbox" id="is_active" name="is_active">
    </div>

    <button type="submit" style="width: 100%;">Submit 🚀</button>
  </form>
</div>
