<div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">

  <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <div>
      <h2 style="margin: 0;">📡 Channels</h2>
      <p>Manage your communication channels</p>
    </div>

    <a href="/apps/<%= app.id %>/channels/create" style="white-space: nowrap;">➕ Create a new channel</a>
  </div>

  <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">

    <% if (app.channels.length) { %>
      <% app.channels.forEach(channel => { %>
        <div style="border: dashed; border-radius: 5px; padding: 20px; display: flex; flex-direction: column; gap: 10px;">
          <div style="display: grid; grid-template-columns: auto minmax(0, 1fr); gap: 10px;">
            <div><strong>ID:</strong></div>
            <div><%= channel.id %></div>

            <div><strong>Name:</strong></div>
            <div style="word-break: break-all;"><%= channel.config.name %></div>

            <div><strong>Type:</strong></div>
            <div><%= channel.channel_type === 'email' ? '✉️ Email' : channel.channel_type === 'discord' ? '💬 Discord' : '📱 SMS' %></div>

            <div><strong>Status:</strong></div>
            <div
              style="
                height: fit-content;
                width: fit-content;
                padding: 0px 5px;
                border-radius: 5px;
                <%= channel.config.is_active ? 'color: green; border: 1px solid green;' : 'color: red; border: 1px solid red;' %>"
            >
              <%= channel.config.is_active ? '🟢 Active' : '🔴 Inactive' %>
            </div>

            <div><strong>🕒 Created:</strong></div>
            <div><%= new Date(channel.config.created_at).toLocaleString() %></div>

            <div><strong>🛠️ Updated:</strong></div>
            <div><%= new Date(channel.config.updated_at).toLocaleString() %></div>
          </div>

          <div style="display: flex; align-items: center; gap: 10px;">
            <details style="position: relative;">
              <summary>🔍 Details</summary>
              <div style="position: absolute; top: 100%; left: 0; z-index: 1; border: dashed; padding: 10px; background-color: white; border-radius: 5px; width: max-content;">
                <% if (channel.channel_type === 'email') { %>
                  <div><strong>📧 Email Host:</strong></div>
                  <div><%= channel.config.host %></div>

                  <div><strong>📧 Email Port:</strong></div>
                  <div><%= channel.config.port %></div>

                  <div><strong>👤 Email Alias:</strong></div>
                  <div><%= channel.config.alias %></div>

                  <div><strong>🔑 Email Auth:</strong></div>
                  <div><%= channel.config.auth_email %></div>

                  <div><strong>🔒 Email Auth Pass:</strong></div>
                  <div><%= channel.config.auth_pass %></div>
                <% } %>

                <% if (channel.channel_type === 'discord') { %>
                    <div><strong>🌐 Webhook URL:</strong></div>
                    <div><%= channel.config.webhook_url %></div>
                <% } %>

                <% if (channel.channel_type === 'sms') { %>
                    <div><strong>📞 Phone Number:</strong></div>
                    <div><%= channel.config.phone_number %></div>

                    <div><strong>📲 From Phone Number:</strong></div>
                    <div><%= channel.config.from_phone_number %></div>

                    <div><strong>🔑 Account SID:</strong></div>
                    <div><%= channel.config.account_sid %></div>

                    <div><strong>🔒 Auth Token:</strong></div>
                    <div><%= channel.config.auth_token %></div>
                <% } %>
              </div>
            </details>

            <a href="/apps/<%= app.id %>/channels/<%= channel.id %>/configs/<%= channel.config.id %>/edit">✏️ Edit</a>

            <button class="no-style-btn" onclick="document.getElementById(`delete-channels-<%= channel.config.id %>-modal`).showModal()">🗑️ Delete</button>
            <dialog id="delete-channels-<%= channel.config.id %>-modal">
              <h2>⚠️ Confirm Deletion</h2>
              <p>Are you sure you want to delete this channel?</p>
              <form method="POST" action="/apps/<%= app.id %>/channels/<%= channel.id %>/delete">
                <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

                <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
                  <button type="button" onclick="this.closest('dialog').close()">❌ Cancel</button>
                  <button type="submit">🗑️ Delete</button>
                </div>
              </form>
            </dialog>
          </div>
        </div>
      <% }) %>
    <% } %>

    <% if (!app.channels.length) { %>
      <article style="border-style: dashed; padding: 20px; border-radius: 5px;">
        <p>📭 There are no channels currently</p>
      </article>
    <% } %>

  </div>
</div>
