<div style="display: flex; flex-direction: column; gap: 10px;">
  <div>
    <h2>Apps / New</h2>
    <p>Create a new app</p>
  </div>

  <form
    style=" border-style: dashed; border-radius: 5px; padding: 10px; width: fit-content; display: flex; flex-direction: column; gap: 10px;"
    action="/apps" method="POST">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="is_active">Active:</label>
      <input type="checkbox" id="is_active" name="is_active">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
