<div class="p-10">
  <div class="mx-auto max-w-6xl w-full">

    <div class="flex justify-between items-center">
      <h2 class="font-medium text-2xl">Apps</h2>
      <a class="link" href="/apps/create">Create a new app</a>
    </div>

    <div class="grid grid-cols-3 gap-5 mt-5">
      <% if (apps.length) { %>
        <% apps.forEach(app => { %>
          <div class="p-5 border border-gray-100 rounded-lg bg-base-100">
            <a class="link" href="/apps/<%= app.id %>"><h4><%= app.name %></h4></a>
          </div>
        <% }) %>
      <% } %>

      <% if (!apps.length) { %>
        <div class="p-5 border border-gray-100 rounded-md bg-base-100">
          There are no apps currently
        </div>
      <% } %>
    </div>

  </div>
</div>
