<div style="display: flex; flex-direction: column; gap: 10px;">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Apps</h2>
    <a href="/apps/create">Create a new App</a>
  </div>

  <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;">
    <% if (apps.length) { %>
      <% apps.forEach(app => { %>
        <article style="border-style: dashed; padding: 10px; border-radius: 5px;">
          <a href="/apps/<%= app.id %>"><%= app.name %></a>
        </article>
      <% }) %>
    <% } %>

    <% if (!apps.length) { %>
      <article style="border-style: dashed; padding: 10px; border-radius: 5px;">
        <p>There are no apps currently</p>
      </article>
    <% } %>
  </div>
</div>
