<div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">

  <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <div>
      <h2 style="margin: 0;">⚙️ Settings</h2>
      <p>Manage your settings</p>
    </div>

    <span>settings</span>
  </div>

  <div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">
    <div
      style="border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;">

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <h3>📦 Data</h3>
        <p>Export all configs for <%= app.name %></p>
      </div>

      <!-- <form action="#" method="POST">
        <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />
        <button type="submit" style="width: 100%;">Export</button>
      </form> -->
      <button onclick="alert('Coming soon! 🚀')">⬇️ Export</button>
    </div>

    <div
      style="border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;">

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <h3>⚠️ Danger Zone</h3>
        <p>The following actions are destructive and cannot be reversed.</p>
      </div>

      <button onclick="document.getElementById('delete-app-modal').showModal()">🗑️ Delete <%= app.name %></button>

      <dialog id="delete-app-modal">
        <h2>⚠️ Confirm Deletion</h2>
        <p>Are you sure you want to delete this app?</p>
        <form method="POST" action="/apps/<%= app.id %>/delete">
          <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

          <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
            <button type="button" onclick="this.closest('dialog').close()">❌ Cancel</button>
            <button type="submit">🗑️ Delete</button>
          </div>
        </form>
      </dialog>
    </div>
  </div>

</div>
