<script>
  function viewApiKey() {
    const apiKeyPre = document.getElementById('apiKeyPre');
    if (apiKeyPre.textContent === '••••••••••••••••••••••••••••••••••••••••••••••••') {
      apiKeyPre.textContent = '<%= app.api_key %>';
    } else {
      apiKeyPre.textContent = '••••••••••••••••••••••••••••••••••••••••••••••••';
    }
  }

  function viewDemoCodeApiKey() {
    const demoApiKeySpan = document.getElementById('demoApiKeySpan');
    if (demoApiKeySpan.textContent === "'••••••••••••••••••••••••••••••••••••••••••••••••'") {
      demoApiKeySpan.textContent = "'<%= app.api_key %>'";
    } else {
      demoApiKeySpan.textContent = "'••••••••••••••••••••••••••••••••••••••••••••••••'";
    }
  }

  function copyApiKey() {
    const apiKey = '<%= app.api_key %>';
    navigator.clipboard.writeText(apiKey).then(() => {
      alert('🔑 API key copied to clipboard!');
    });
  }

  function copyDemoCode() {
    const apiKey = "'<%= app.api_key %>'";
    let demoCode = document.getElementById('demoCode').innerText;

    if (apiKey.length)  {
      demoCode = demoCode.replace("'••••••••••••••••••••••••••••••••••••••••••••••••'", apiKey)
    }

    navigator.clipboard.writeText(demoCode).then(() => {
      createToast('copied!')
    });
  }
</script>

<div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <h2 style="margin: 0;"><%= app.name %></h2>
      <p>App details</p>
    </div>

    <div style="display: flex; gap: 20px;">
      <button class="no-style-btn" onclick="document.getElementById(`test-notification-<% app.id %>-modal`).showModal()">🚀 Run test notification</button>
      <dialog id="test-notification-<% app.id %>-modal">
        <h2>🔔 Test Notification</h2>
        <form id="notificationForm" style="display: flex; flex-direction: column; gap: 5px;" method="post" action="/apps/<%= app.id %>/notifications/test">
          <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

          <div style="display: flex; flex-direction: column; gap: 5px;">
            <label for="message">Message:</label>
            <input type="text" id="message" name="message" required>
          </div>

          <div style="display: flex; flex-direction: column; gap: 5px;">
            <label for="message">Details:</label>
            <textarea name="details" id="details"></textarea>
          </div>

          <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
            <button type="button" onclick="this.closest('dialog').close()">❌ Cancel</button>
            <button type="submit">🚀 Test</button>
          </div>
        </form>
      </dialog>
    </div>
  </div>

  <div style="display: flex; gap: 20px; flex-direction: column;">
    <div style="flex: 0 0 32.5%; display: grid; grid-template-columns: auto minmax(0, 1fr); gap: 10px; border: dashed; padding: 20px; border-radius: 5px; height: fit-content; width: 66%;">

      <div><strong>ID:</strong></div>
      <div><%= app.id %></div>

      <div><strong>Name:</strong></div>
      <div><%= app.name %></div>

      <div><strong>Status:</strong></div>
      <div
        style="
          width: fit-content;
          padding: 0px 5px;
          border-radius: 5px;
          <%= app.is_active ? 'color: green; border: 1px solid green;': 'color: red; border: 1px solid red;' %>"
      >
        <%= app.is_active ? '🟢 Active' : '🔴 Inactive' %>
      </div>

      <% if(app.url) { %>
        <div><strong>🔗 Url:</strong></div>
        <a href="<%= app.url %>" target="_blank" rel="noopener noreferrer"><%= app.url %></a>
      <% } %>

      <% if(app.description) { %>
        <div><strong>📝 Description:</strong></div>
        <div><%= app.description %></div>
      <% } %>

      <div><strong>🕒 Created:</strong></div>
      <div><%= app.created_at %></div>

      <div><strong>🛠️ Updated:</strong></div>
      <div><%= app.updated_at %></div>

      <div style="display: flex; gap: 10px; align-items: center;">
        <a href="/apps/<%= app.id %>/edit">✏️ Edit</a>
      </div>
    </div>

    <div style="flex: 1; display: grid; grid-template-columns: auto minmax(0, 1fr); gap: 10px; border: dashed; padding: 20px; border-radius: 5px; height: fit-content; width: 66%;">
      <div><strong>📈 Max Alerts Allowed Per Month:</strong></div>
      <% if (state.user.is_admin) { %>
        <div>♾️</div>
      <% } else { %>
        <div><%= app.max_monthly_alerts_allowed %></div>
      <% } %>

      <div><strong>📊 Your Monthly Limit:</strong></div>
      <% if (state.user.is_admin) { %>
        <div>♾️</div>
      <% } else { %>
        <div><%= app.user_monthly_limit_threshold ?? 'N/A' %></div>
      <% } %>

      <div><strong>📧 Alerts Sent This Month:</strong></div>
      <div><%= app.alerts_sent_this_month %></div>

      <div><strong>⏳ Alerts Reset Date:</strong></div>
      <div><%= app.alerts_reset_date %></div>

      <div style="display: flex; gap: 10px; align-items: center;">
        <a href="/apps/<%= app.id %>/edit">✏️ Edit</a>
      </div>
    </div>
  </div>

    <div style="flex: 1; border: dashed; padding: 20px; border-radius: 5px; display: flex; flex-direction: column; gap: 10px; width: 66%;">
      <div>
        <div style="display: flex; align-items: center; justify-content: space-between;">
          <div style="display: flex; align-items: center; gap: 5px;">
            <strong>🔑 API Key</strong>
            <% if (app.api_key_version > 0) { %>
              <small style="color: #bbb;">(v<%= app.api_key_version %>)</small>
            <% } %>
          </div>

          <div style="display: flex; align-items: center; gap: 10px;">
            <form action="/apps/<%= app.id %>/create-api-key" method="post">
              <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />
              <button type="submit" class="no-style-btn">
                <% if (app.api_key_version > 0) {  %>
                  <span>🔄 Regenerate</span>
                <% } else { %>
                  <span>➕ Generate</span>
                <% } %>
              </button>
            </form>

            <% if (app.api_key) { %>
              <button onclick="viewApiKey()" class="no-style-btn">👁️ View</button>
              <button onclick="copyApiKey()" class="no-style-btn">📋 Copy</button>
            <% } %>
          </div>
        </div>

        <pre id="apiKeyPre" style="white-space: nowrap; overflow-x: auto; padding-right: 150px;"><% if (!app.api_key) { %>click to generate api key<% } else { %>••••••••••••••••••••••••••••••••••••••••••••••••<% } %></pre>

        <% if (app.api_key_created_at) { %>
          <small style="color: #bbb;">Created: <%= new Date(app.api_key_created_at).toLocaleString() %></small>
        <% } %>
      </div>

      <div>
        <div style="display: flex; align-items: center; justify-content: space-between;">
          <strong>💻 Javascript example</strong>

          <div style="display: flex; align-items: center; gap: 10px;">
            <% if (app.api_key) { %>
              <button onclick="viewDemoCodeApiKey()" class="no-style-btn">👁️ View</button>
            <% } %>
            <button onclick="copyDemoCode()" class="no-style-btn">📋 Copy</button>
          </div>
        </div>
<pre id="demoCode"><span style="color: rgb(215, 58, 73); font-weight: 400;">await</span> <span style="color: rgb(111, 66, 193); font-weight: 400;">fetch</span>(<span style="color: rgb(3, 47, 98); font-weight: 400;">'https://notify.jaw.dev'</span>, {
  <span style="color: rgb(0, 92, 197); font-weight: 400;">method</span>: <span style="color: rgb(3, 47, 98); font-weight: 400;">'POST'</span>,
  <span style="color: rgb(0, 92, 197); font-weight: 400;">headers</span>: {
    <span style="color: rgb(3, 47, 98); font-weight: 400;">'Content-Type'</span>: <span style="color: rgb(3, 47, 98); font-weight: 400;">'application/json'</span>,
    <span style="color: rgb(3, 47, 98); font-weight: 400;">'X-API-KEY'</span>: <span style="color: rgb(3, 47, 98); font-weight: 400;"><% if (app.api_key) { %><span id="demoApiKeySpan">'••••••••••••••••••••••••••••••••••••••••••••••••'</span><% } else { %>'your_api_key'<% } %></span>
  },
  <span style="color: rgb(0, 92, 197); font-weight: 400;">body</span>: <span style="color: rgb(111, 66, 193); font-weight: 400;">JSON</span>.<span style="color: rgb(111, 66, 193); font-weight: 400;">stringify</span>({
    <span style="color: rgb(0, 92, 197); font-weight: 400;">appId</span>: <span style="color: rgb(3, 47, 98); font-weight: 400;"><%= app.id %></span>,
    <span style="color: rgb(0, 92, 197); font-weight: 400;">message</span>: <span style="color: rgb(3, 47, 98); font-weight: 400;">'Your message here'</span>,
    <span style="color: rgb(0, 92, 197); font-weight: 400;">details</span>: <span style="color: rgb(3, 47, 98); font-weight: 400;">'info'</span>
  })
})</pre>
      </div>
    </div>
  </div>
</div>
