<div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <h2 style="margin: 0;">App</h2>
      <p>App details</p>
    </div>

    <div style="display: flex; gap: 20px;">
      <a href="/apps/<%= app.id %>/edit">Edit</a>
      <a href="/apps/<%= app.id %>/edit">Delete</a>
    </div>
  </div>

  <div style="display: grid; grid-template-columns: auto minmax(0, 1fr); gap: 10px; border: dashed; padding: 20px; border-radius: 5px; width: 32.5%;">
    <div><strong>ID:</strong></div>
    <div><%= app.id %></div>
    <div><strong>Name:</strong></div>
    <div><%= app.name %></div>
    <div><strong>Status:</strong></div>
    <div><%= app.is_active ? 'Active' : 'Inactive' %></div>
    <div><strong>Created:</strong></div>
    <div><%= new Date(app.created_at).toLocaleString() %></div>
    <div><strong>Updated:</strong></div>
    <div><%= new Date(app.updated_at).toLocaleString() %></div>
  </div>

</div>
