<div style="display: flex; flex-direction: column; gap: 20px;">
  <div>
    <h2>Apps / New</h2>
    <p>Create a new app</p>
  </div>

  <form
    style="border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;"
    action="/apps" method="POST">

    <div style="display: flex; flex-direction: column; gap: 5px;">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required style="width: 100%;">
    </div>

    <div style="display: flex; flex-direction: column; gap: 5px;">
      <label for="url">Url:</label>
      <input type="url" id="url" name="url" placeholder="https://example.com" pattern="https://.*" style="width: 100%;">
    </div>

    <div style="display: flex; flex-direction: column; gap: 5px;">
      <label for="description">Description:</label>
      <textarea name="description" id="description" rows="4" style="width: 100%;"></textarea>
    </div>

    <div style="display: flex; align-items: center; gap: 5px;">
      <input type="checkbox" id="is_active" name="is_active">
      <label for="is_active">Active</label>
    </div>

    <button type="submit" style="width: 100%;">Submit</button>
  </form>
</div>
