<div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <h2 style="margin: 0;"><%= app.name %></h2>
      <p>App details</p>
    </div>

    <div style="display: flex; gap: 20px;">
      <form method="post" action="/apps/<%= app.id %>/notifications/test">
        <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />
        <button class="no-style-btn" type="submit">Run test notification</button>
      </form>
    </div>
  </div>

  <div style="display: flex; gap: 20px;">
    <div style="flex: 0 0 32.5%; display: grid; grid-template-columns: auto minmax(0, 1fr); gap: 10px; border: dashed; padding: 20px; border-radius: 5px; height: fit-content;">

      <div><strong>ID:</strong></div>
      <div><%= app.id %></div>

      <div><strong>Name:</strong></div>
      <div><%= app.name %></div>

      <div><strong>Status:</strong></div>
      <div
        style="
          width: fit-content;
          padding: 0px 5px;
          border-radius: 5px;
          <%= app.is_active ? 'color: green; border: 1px solid green;': 'color: red; border: 1px solid red;' %>"
      >
        <%= app.is_active ? 'Active' : 'Inactive' %>
      </div>

      <% if(app.url) { %>
        <div><strong>Url:</strong></div>
        <a href="<%= app.url %>" target="_blank" rel="noopener noreferrer"><%= app.url %></a>
      <% } %>

      <% if(app.description) { %>
        <div><strong>Description:</strong></div>
        <div><%= app.description %></div>
      <% } %>

      <div><strong>Created:</strong></div>
      <div><%= new Date(app.created_at).toLocaleString() %></div>

      <div><strong>Updated:</strong></div>
      <div><%= new Date(app.updated_at).toLocaleString() %></div>

      <div style="display: flex; gap: 10px; align-items: center;">
        <a href="/apps/<%= app.id %>/edit">Edit</a>
        <button class="no-style-btn" onclick="document.getElementById('delete-app-modal').showModal()">Delete</button>

        <dialog id="delete-app-modal">
          <h2>Confirm Deletion</h2>
          <p>Are you sure you want to delete this app?</p>
          <form method="POST" action="/apps/<%= app.id %>/delete">
            <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

            <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
              <button type="button" onclick="this.closest('dialog').close()">Cancel</button>
              <button type="submit">Delete</button>
            </div>
          </form>
        </dialog>
      </div>
    </div>

    <div style="flex: 1; border: dashed; padding: 20px; border-radius: 5px; display: flex; flex-direction: column; gap: 10px; width: inherit;">
      <div>
        <div style="display: flex; align-items: center; gap: 10px;">
          <div style="display: flex; align-items: center; gap: 5px;"><strong>API Key</strong><% if (app.api_key_version > 0) { %> <small style="color: #bbb;">(v<%= app.api_key_version %>)</small> <% } %></div>
          <form action="/apps/<%= app.id %>/create-api-key" method="post">
            <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

            <button type="submit" class="no-style-btn">Generate</button>
          </form>
        </div>

        <pre><% if (!app.api_key) { %>click to generate api key<% } else { %><%= app.api_key %><% } %></pre>
      </div>

      <div>
        <div><strong>Example</strong></div>
        <pre>
await fetch('https://notify.jaw.dev', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
    'X-API-KEY': 'your_api_key_here'
  },
  body: JSON.stringify({
    appId: 'your_appId_here',
    message: 'Your message here',
    details: {
      key1: 'value1',
      key2: 'value2'
    }
  })
});</pre>
      </div>
    </div>
  </div>
</div>
