<script>
  window.addEventListener('DOMContentLoaded', () => {
    const messages = [
      "📱 Notify: One app, all your alerts!",
      "💬 Discord, 📧 Email, 📲 SMS - We've got you covered!",
      "🚀 Boost productivity with real-time notifications!",
      "🔒 Secure, reliable, and oh-so-Web 2.0!",
      "🌐 Reach your team wherever they are!"
    ];

    let count = 0;

    function showNextToast() {
      if (count < messages.length) {
        createToast(messages[count]);
        count++;
      } else {
        clearInterval(intervalId);
      }
    }

    const intervalId = setInterval(showNextToast, 5000);
  });

  function showTab(language) {
    document.querySelectorAll('#express, #laravel, #go, #rails, #django').forEach(tab => {
      tab.style.display = 'none';
    });

    document.getElementById(language).style.display = 'block';
  }
</script>

<div style="display: flex; flex-direction: column; align-items: center; gap: 100px; padding: 20px; margin: 0 auto;">
  <header
    style="display: flex; flex-direction: column; align-items: center; text-align: center; border-bottom: dashed; padding-bottom: 60px; padding-top: 60px; width: 100%;">
    <h1><a href="/">🔔 Notify</a></h1>
    <p>web 2.0 style notification systems for discord, email, and sms</p>
  </header>

  <section style="display: flex; flex-direction: column; align-items: center; width: 800px; gap: 50px;">
    <div
      style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 10px; text-align: center;">
      <h2>⚡️ Notify in a Flash!</h2>
      <p>Create an app, add some channels, and boom, you're done! Notify can be embedded into any software that can make
        an HTTP request!</p>
    </div>

    <div style="flex: 1; border: dashed; border-radius: 5px; width: 100%;">
      <div style="display: flex; padding: 20px 20px 0px 20px; gap: 20px;">
        <button onclick="showTab('express')" style="flex: 1;">Express.js</button>
        <button onclick="showTab('laravel')" style="flex: 1;">Laravel</button>
        <button onclick="showTab('django')" style="flex: 1;">Django</button>
        <button onclick="showTab('rails')" style="flex: 1;">Rails</button>
        <button onclick="showTab('go')" style="flex: 1;">Go</button>
      </div>

      <div id="express" style="display: block; padding: 20px; width: 100%;">
        <pre><span style="color: rgb(215, 58, 73); font-weight: 400;">import</span> express <span style="color: rgb(215, 58, 73); font-weight: 400;">from</span> <span style="color: rgb(3, 47, 98); font-weight: 400;">'express'</span>;
<span style="color: rgb(215, 58, 73); font-weight: 400;">const</span> app = <span style="color: rgb(111, 66, 193); font-weight: 400;">express</span>();

<span style="color: rgb(106, 115, 125); font-weight: 400;">// global error handling middleware</span>
app.<span style="color: rgb(111, 66, 193); font-weight: 400;">use</span>(<span style="color: rgb(215, 58, 73); font-weight: 400;">async</span> (err, req, res, next) =&gt; {
  <span style="color: rgb(215, 58, 73); font-weight: 400;">await</span> <span style="color: rgb(111, 66, 193); font-weight: 400;">fetch</span>(process.<span style="color: rgb(36, 41, 46); font-weight: 400;">env</span>.<span style="color: rgb(36, 41, 46); font-weight: 400;">NOTIFY_URL</span>, {
    <span style="color: rgb(0, 92, 197); font-weight: 400;">method</span>: <span style="color: rgb(3, 47, 98); font-weight: 400;">'POST'</span>,
    <span style="color: rgb(0, 92, 197); font-weight: 400;">headers</span>: {
      <span style="color: rgb(3, 47, 98); font-weight: 400;">'Content-Type'</span>: <span style="color: rgb(3, 47, 98); font-weight: 400;">'application/json'</span>,
      <span style="color: rgb(3, 47, 98); font-weight: 400;">'X-API-KEY'</span>: process.<span style="color: rgb(36, 41, 46); font-weight: 400;">env</span>.<span style="color: rgb(36, 41, 46); font-weight: 400;">NOTIFY_X_API_KEY</span>,
    },
    <span style="color: rgb(0, 92, 197); font-weight: 400;">body</span>: <span style="color: rgb(111, 66, 193); font-weight: 400;">JSON</span>.<span style="color: rgb(111, 66, 193); font-weight: 400;">stringify</span>({
      <span style="color: rgb(0, 92, 197); font-weight: 400;">message</span>: err.<span style="color: rgb(36, 41, 46); font-weight: 400;">message</span>,
      <span style="color: rgb(0, 92, 197); font-weight: 400;">details</span>: err.<span style="color: rgb(36, 41, 46); font-weight: 400;">stack</span>,
    }),
  });
  res.<span style="color: rgb(111, 66, 193); font-weight: 400;">status</span>(<span style="color: rgb(0, 92, 197); font-weight: 400;">500</span>).<span style="color: rgb(111, 66, 193); font-weight: 400;">json</span>({ <span style="color: rgb(0, 92, 197); font-weight: 400;">error</span>: <span style="color: rgb(3, 47, 98); font-weight: 400;">'An error occurred'</span> });
});

app.<span style="color: rgb(111, 66, 193); font-weight: 400;">listen</span>(<span style="color: rgb(0, 92, 197); font-weight: 400;">3000</span>, <span style="color: rgb(36, 41, 46); font-weight: 400;">() =&gt;</span> <span style="color: rgb(215, 58, 73); font-weight: 400;">console</span>.<span style="color: rgb(111, 66, 193); font-weight: 400;">log</span>(<span style="color: rgb(3, 47, 98); font-weight: 400;">'Server running on port 3000'</span>));</pre>
      </div>

      <div id="laravel" style="display: none; padding: 20px; width: 100%;">
        <pre style="padding: 20px;"><span style="color: rgb(106, 115, 125); font-weight: 400;">// In app/Exceptions/Handler.php</span>
<span style="color: rgb(215, 58, 73); font-weight: 400;">use</span> <span style="color: rgb(111, 66, 193); font-weight: 400;">Illuminate</span>\<span style="color: rgb(111, 66, 193); font-weight: 400;">Support</span>\<span style="color: rgb(111, 66, 193); font-weight: 400;">Facades</span>\<span style="color: rgb(111, 66, 193); font-weight: 400;">Http</span>;

<span style="color: rgb(215, 58, 73); font-weight: 400;">public</span> <span style="color: rgb(36, 41, 46); font-weight: 400;"><span style="color: rgb(215, 58, 73); font-weight: 400;">function</span> <span style="color: rgb(111, 66, 193); font-weight: 400;">report</span>(<span style="color: rgb(36, 41, 46); font-weight: 400;"><span style="color: rgb(227, 98, 9); font-weight: 400;">Throwable</span> <span style="color: rgb(0, 92, 197); font-weight: 400;">$exception</span></span>)
</span>{
    <span style="color: rgb(111, 66, 193); font-weight: 400;">Http</span>::<span style="color: rgb(111, 66, 193); font-weight: 400;">withHeaders</span>([
        <span style="color: rgb(3, 47, 98); font-weight: 400;">'Content-Type'</span> =&gt; <span style="color: rgb(3, 47, 98); font-weight: 400;">'application/json'</span>,
        <span style="color: rgb(3, 47, 98); font-weight: 400;">'X-API-KEY'</span> =&gt; <span style="color: rgb(111, 66, 193); font-weight: 400;">env</span>(<span style="color: rgb(3, 47, 98); font-weight: 400;">'NOTIFY_X_API_KEY'</span>),
    ])-&gt;<span style="color: rgb(111, 66, 193); font-weight: 400;">post</span>(<span style="color: rgb(111, 66, 193); font-weight: 400;">env</span>(<span style="color: rgb(3, 47, 98); font-weight: 400;">'NOTIFY_URL'</span>), [
        <span style="color: rgb(3, 47, 98); font-weight: 400;">'message'</span> =&gt; <span style="color: rgb(0, 92, 197); font-weight: 400;">$exception</span>-&gt;<span style="color: rgb(111, 66, 193); font-weight: 400;">getMessage</span>(),
        <span style="color: rgb(3, 47, 98); font-weight: 400;">'details'</span> =&gt; <span style="color: rgb(0, 92, 197); font-weight: 400;">$exception</span>-&gt;<span style="color: rgb(111, 66, 193); font-weight: 400;">getTraceAsString</span>(),
    ]);

    <span style="color: rgb(227, 98, 9); font-weight: 400;">parent</span>::<span style="color: rgb(111, 66, 193); font-weight: 400;">report</span>(<span style="color: rgb(0, 92, 197); font-weight: 400;">$exception</span>);
}</pre>
      </div>

      <div id="go" style="display: none; padding: 20px; width: 100%;">
        <pre><span style="color: rgb(215, 58, 73); font-weight: 400;">package</span> main

<span style="color: rgb(215, 58, 73); font-weight: 400;">import</span> (
    <span style="color: rgb(3, 47, 98); font-weight: 400;">"bytes"</span>
    <span style="color: rgb(3, 47, 98); font-weight: 400;">"encoding/json"</span>
    <span style="color: rgb(3, 47, 98); font-weight: 400;">"log"</span>
    <span style="color: rgb(3, 47, 98); font-weight: 400;">"net/http"</span>
    <span style="color: rgb(3, 47, 98); font-weight: 400;">"os"</span>
)

<span style="color: rgb(36, 41, 46); font-weight: 400;"><span style="color: rgb(215, 58, 73); font-weight: 400;">func</span> <span style="color: rgb(111, 66, 193); font-weight: 400;">notifyError</span><span style="color: rgb(36, 41, 46); font-weight: 400;">(err <span style="color: rgb(215, 58, 73); font-weight: 400;">error</span>)</span></span> {
    payload := <span style="color: rgb(215, 58, 73); font-weight: 400;">map</span>[<span style="color: rgb(215, 58, 73); font-weight: 400;">string</span>]<span style="color: rgb(215, 58, 73); font-weight: 400;">string</span>{
        <span style="color: rgb(3, 47, 98); font-weight: 400;">"message"</span>: err.Error(),
        <span style="color: rgb(3, 47, 98); font-weight: 400;">"details"</span>: <span style="color: rgb(3, 47, 98); font-weight: 400;">""</span>, <span style="color: rgb(106, 115, 125); font-weight: 400;">// You might want to add stack trace here</span>
    }

    jsonPayload, _ := json.Marshal(payload)

    req, _ := http.NewRequest(<span style="color: rgb(3, 47, 98); font-weight: 400;">"POST"</span>, os.Getenv(<span style="color: rgb(3, 47, 98); font-weight: 400;">"NOTIFY_URL"</span>), bytes.NewBuffer(jsonPayload))
    req.Header.Set(<span style="color: rgb(3, 47, 98); font-weight: 400;">"Content-Type"</span>, <span style="color: rgb(3, 47, 98); font-weight: 400;">"application/json"</span>)
    req.Header.Set(<span style="color: rgb(3, 47, 98); font-weight: 400;">"X-API-KEY"</span>, os.Getenv(<span style="color: rgb(3, 47, 98); font-weight: 400;">"NOTIFY_X_API_KEY"</span>))

    client := &amp;http.Client{}
    resp, err := client.Do(req)
    <span style="color: rgb(215, 58, 73); font-weight: 400;">if</span> err != <span style="color: rgb(0, 92, 197); font-weight: 400;">nil</span> {
        log.Println(<span style="color: rgb(3, 47, 98); font-weight: 400;">"Error sending notification:"</span>, err)
    }
    <span style="color: rgb(215, 58, 73); font-weight: 400;">defer</span> resp.Body.Close()
}

<span style="color: rgb(36, 41, 46); font-weight: 400;"><span style="color: rgb(215, 58, 73); font-weight: 400;">func</span> <span style="color: rgb(111, 66, 193); font-weight: 400;">main</span><span style="color: rgb(36, 41, 46); font-weight: 400;">()</span></span> {
    <span style="color: rgb(106, 115, 125); font-weight: 400;">// Use notifyError in your error handling</span>
    <span style="color: rgb(215, 58, 73); font-weight: 400;">if</span> err := someFunction(); err != <span style="color: rgb(0, 92, 197); font-weight: 400;">nil</span> {
        notifyError(err)
    }
}</pre>
      </div>

      <div id="django" style="display: none; padding: 20px; width: 100%;">
        <pre><span style="color: rgb(106, 115, 125); font-weight: 400;"># In your Django project's settings.py</span>
<span style="color: rgb(215, 58, 73); font-weight: 400;">import</span> os

NOTIFY_URL = os.environ.get(<span style="color: rgb(3, 47, 98); font-weight: 400;">'NOTIFY_URL'</span>)
NOTIFY_X_API_KEY = os.environ.get(<span style="color: rgb(3, 47, 98); font-weight: 400;">'NOTIFY_X_API_KEY'</span>)

<span style="color: rgb(106, 115, 125); font-weight: 400;"># In your Django app's middleware.py</span>
<span style="color: rgb(215, 58, 73); font-weight: 400;">import</span> json
<span style="color: rgb(215, 58, 73); font-weight: 400;">import</span> traceback
<span style="color: rgb(215, 58, 73); font-weight: 400;">from</span> django.conf <span style="color: rgb(215, 58, 73); font-weight: 400;">import</span> settings
<span style="color: rgb(215, 58, 73); font-weight: 400;">import</span> requests

<span style="color: rgb(215, 58, 73); font-weight: 400;">class</span> <span style="color: rgb(111, 66, 193); font-weight: 400;">NotifyMiddleware</span>:
    <span style="color: rgb(215, 58, 73); font-weight: 400;">def</span> <span style="color: rgb(111, 66, 193); font-weight: 400;">__init__</span>(<span style="color: rgb(36, 41, 46); font-weight: 400;">self, get_response</span>):
        self.get_response = get_response

    <span style="color: rgb(215, 58, 73); font-weight: 400;">def</span> <span style="color: rgb(111, 66, 193); font-weight: 400;">__call__</span>(<span style="color: rgb(36, 41, 46); font-weight: 400;">self, request</span>):
        response = self.get_response(request)
        <span style="color: rgb(215, 58, 73); font-weight: 400;">return</span> response

    <span style="color: rgb(215, 58, 73); font-weight: 400;">def</span> <span style="color: rgb(111, 66, 193); font-weight: 400;">process_exception</span>(<span style="color: rgb(36, 41, 46); font-weight: 400;">self, request, exception</span>):
        payload = {
            <span style="color: rgb(3, 47, 98); font-weight: 400;">'message'</span>: <span style="color: rgb(227, 98, 9); font-weight: 400;">str</span>(exception),
            <span style="color: rgb(3, 47, 98); font-weight: 400;">'details'</span>: traceback.format_exc()
        }

        headers = {
            <span style="color: rgb(3, 47, 98); font-weight: 400;">'Content-Type'</span>: <span style="color: rgb(3, 47, 98); font-weight: 400;">'application/json'</span>,
            <span style="color: rgb(3, 47, 98); font-weight: 400;">'X-API-KEY'</span>: settings.NOTIFY_X_API_KEY
        }

        requests.post(settings.NOTIFY_URL, json=payload, headers=headers)

<span style="color: rgb(106, 115, 125); font-weight: 400;"># In your Django project's settings.py</span>
MIDDLEWARE = [
    <span style="color: rgb(106, 115, 125); font-weight: 400;"># ... other middleware classes ...</span>
    <span style="color: rgb(3, 47, 98); font-weight: 400;">'your_app.middleware.NotifyMiddleware'</span>,
]</pre>
      </div>

      <div id="rails" style="display: none; padding: 20px; width: 100%;">
        <pre><span style="color: rgb(106, 115, 125); font-weight: 400;"># In config/initializers/notify.rb</span>
<span style="color: rgb(215, 58, 73); font-weight: 400;">require</span> <span style="color: rgb(3, 47, 98); font-weight: 400;">'net/http'</span>
<span style="color: rgb(215, 58, 73); font-weight: 400;">require</span> <span style="color: rgb(3, 47, 98); font-weight: 400;">'json'</span>

<span style="color: rgb(215, 58, 73); font-weight: 400;">module</span> <span style="color: rgb(111, 66, 193); font-weight: 400;">Notify</span>
  <span style="color: rgb(215, 58, 73); font-weight: 400;">class</span> &lt;&lt; <span style="color: rgb(215, 58, 73); font-weight: 400;">self</span>
    <span style="color: rgb(215, 58, 73); font-weight: 400;">def</span> <span style="color: rgb(111, 66, 193); font-weight: 400;">notify_error</span>(<span style="color: rgb(36, 41, 46); font-weight: 400;">exception</span>)
      payload = {
        <span style="color: rgb(227, 98, 9); font-weight: 400;">message:</span> exception.message,
        <span style="color: rgb(227, 98, 9); font-weight: 400;">details:</span> exception.backtrace.join(<span style="color: rgb(3, 47, 98); font-weight: 400;">"\n"</span>)
      }

      uri = <span style="color: rgb(0, 92, 197); font-weight: 400;">URI</span>(<span style="color: rgb(0, 92, 197); font-weight: 400;">ENV</span>[<span style="color: rgb(3, 47, 98); font-weight: 400;">'NOTIFY_URL'</span>])
      http = <span style="color: rgb(111, 66, 193); font-weight: 400;">Net::HTTP</span>.new(uri.host, uri.port)
      http.use_ssl = (uri.scheme == <span style="color: rgb(3, 47, 98); font-weight: 400;">'https'</span>)

      request = <span style="color: rgb(111, 66, 193); font-weight: 400;">Net::HTTP::Post</span>.new(uri.path, <span style="color: rgb(3, 47, 98); font-weight: 400;">'Content-Type'</span> =&gt; <span style="color: rgb(3, 47, 98); font-weight: 400;">'application/json'</span>)
      request[<span style="color: rgb(3, 47, 98); font-weight: 400;">'X-API-KEY'</span>] = <span style="color: rgb(0, 92, 197); font-weight: 400;">ENV</span>[<span style="color: rgb(3, 47, 98); font-weight: 400;">'NOTIFY_X_API_KEY'</span>]
      request.body = payload.to_json

      response = http.request(request)
      <span style="color: rgb(111, 66, 193); font-weight: 400;">Rails</span>.logger.info(<span style="color: rgb(3, 47, 98); font-weight: 400;">"Notify response: <span style="color: rgb(36, 41, 46); font-weight: 400;">#{response.code}</span> <span style="color: rgb(36, 41, 46); font-weight: 400;">#{response.message}</span>"</span>)
    <span style="color: rgb(215, 58, 73); font-weight: 400;">end</span>
  <span style="color: rgb(215, 58, 73); font-weight: 400;">end</span>
<span style="color: rgb(215, 58, 73); font-weight: 400;">end</span>

<span style="color: rgb(106, 115, 125); font-weight: 400;"># In config/environments/production.rb</span>
<span style="color: rgb(111, 66, 193); font-weight: 400;">Rails</span>.application.configure <span style="color: rgb(215, 58, 73); font-weight: 400;">do</span>
  <span style="color: rgb(106, 115, 125); font-weight: 400;"># ... other configuration ...</span>

  config.middleware.use <span style="color: rgb(111, 66, 193); font-weight: 400;">ExceptionNotification</span><span style="color: rgb(227, 98, 9); font-weight: 400;">:</span><span style="color: rgb(227, 98, 9); font-weight: 400;">:Rack</span>,
    <span style="color: rgb(227, 98, 9); font-weight: 400;">:notify</span> =&gt; {
      <span style="color: rgb(227, 98, 9); font-weight: 400;">:callback</span> =&gt; -&gt;(exception, options) { <span style="color: rgb(111, 66, 193); font-weight: 400;">Notify</span>.notify_error(exception) }
    }
<span style="color: rgb(215, 58, 73); font-weight: 400;">end</span></pre>
      </div>
    </div>
  </section>

  <section style="display: flex; flex-direction: column; align-items: center; width: 100%; gap: 50px;">
    <h2>🌟 Why Choose Notify?</h2>
    <div style="display: flex; justify-content: space-around; width: 100%; flex-wrap: wrap; gap: 100px;">
      <div
        style="flex: 1 1 200px; padding: 10px; text-align: center; border: dashed; border-radius: 5px; display: flex; flex-direction: column; gap: 10px;">
        <h4>🚀 Boost Productivity</h4>
        <p>Never miss a beat with real-time alerts</p>
      </div>

      <div
        style="flex: 1 1 200px; padding: 10px; text-align: center; border: dashed; border-radius: 5px; display: flex; flex-direction: column; gap: 10px;">
        <h4>🔒 Secure & Reliable</h4>
        <p>Your data is protected with industry-standard encryption</p>
      </div>

      <div
        style="flex: 1 1 200px; padding: 10px; text-align: center; border: dashed; border-radius: 5px; display: flex; flex-direction: column; gap: 10px;">
        <h4>🌐 Multi-Channel Support</h4>
        <p>Reach your team wherever they are</p>
      </div>
    </div>
  </section>

  <section style="display: flex; flex-direction: column; align-items: center; width: 100%; gap: 50px;">
    <h2>📦 Our Packages</h2>

    <div style="display: flex; gap: 100px; flex-wrap: wrap; justify-content: center; width: 100%;">

      <div
        style="border: dashed; padding: 20px; display: flex; flex-direction: column; border-radius: 5px; width: 350px; position: relative; overflow: hidden;">
        <div
          style="position: absolute; top: 45px; right: -50px; transform: rotate(50deg); background: #ffcc00; text-align: center; width: 200px; line-height: 30px; z-index: 1;">
          most popular
        </div>
        <h3 style="margin: 0 0 15px 0;">🆓 Free</h3>
        <p style="font-size: 2em; margin: 0 0 15px 0;">$0<span style="font-size: 0.5em;">/month</span></p>
        <ul style="flex-grow: 1; padding-left: 20px; margin: 0;">
          <li>📱 5 apps</li>
          <li>🔔 100 alerts per app/month</li>
          <li>🔄 Monthly reset</li>
          <li>💬 Basic support</li>
          <li>🗣️ Community forums</li>
        </ul>
        <p style="margin: 15px 0 0 0; font-style: italic;">Perfect for normies and small personal projects</p>
        <button style="margin-top: 20px;" onclick="document.getElementById('sign-up-modal').showModal()">🚀 Get
          Started</button>
      </div>

      <div
        style="border: dashed; padding: 20px; display: flex; flex-direction: column; border-radius: 5px; width: 350px;">
        <h3 style="margin: 0 0 15px 0;">🛠️ Custom</h3>
        <p style="font-size: 2em; margin: 0 0 15px 0;">Self-Hosted</p>
        <ul style="flex-grow: 1; padding-left: 20px; margin: 0;">
          <li>🖥️ Self-host it yourself</li>
          <li>💻 Open source code</li>
          <li>📈 Unlimited apps</li>
          <li>😅 No official support</li>
          <li>🔧 Full customization</li>
        </ul>
        <p style="margin: 15px 0 0 0; font-style: italic;">Ideal for nerds who needs complete control</p>
        <a href="https://github.com/wajeht/notify" target="_blank" rel="noopener noreferrer"
          style="text-decoration: none;">
          <button style="margin-top: 20px; width: 100%;">👨‍💻 View on GitHub</button>
        </a>
      </div>

    </div>
  </section>

  <section style="display: flex; flex-direction: column; align-items: center; width: 100%; gap: 50px;">
    <h2>❓ Frequently Asked Questions</h2>
    <div style="width: 100%; max-width: 800px; display: flex; flex-direction: column; gap: 20px;">
      <details style="border: dashed; border-radius: 5px; padding: 20px;">
        <summary style="color: black;">🤔 What is Notify?</summary>
        <p>Long story short, diet Sentry without all the bullshit!</p>
      </details>
      <details style="border: dashed; border-radius: 5px; padding: 20px;">
        <summary style="color: black;">💰 Is there a free plan available?</summary>
        <p>Yes! 5 apps and 100 alerts per app/month. Why? This whole infra is at my house! You're welcome!</p>
      </details>
      <details style="border: dashed; border-radius: 5px; padding: 20px;">
        <summary style="color: black;">🔒 How secure is Notify?</summary>
        <p>We use `aes-256-gcm` to encrypt all the channel configs! It's also open-sourced so PRs are welcome if you've seen any security risk!</p>
      </details>
      <details style="border: dashed; border-radius: 5px; padding: 20px;">
        <summary style="color: black;">🛠️ Can I self-host Notify?</summary>
        <p>You bet! <a href="https://github.com/wajeht/notify" target="_blank">Github</a></p>
      </details>
      <details style="border: dashed; border-radius: 5px; padding: 20px;">
        <summary style="color: black;">📞 What kind of support do you offer?</summary>
        <p>Little to none! I do support a good PR!</p>
      </details>
    </div>
  </section>

  <section style="display: flex; flex-direction: column; align-items: center; width: 800px; gap: 50px;">
    <h2>🎉 Join thousands of satisfied users</h2>
    <div style="width: 100%; padding: 20px; border: dashed;  border-radius: 5px;">
      <p style="font-style: italic; margin-bottom: 10px;">
        "I created Notify to solve a problem I was facing, and it’s turned out to be a game-changer. It’s exactly the
        notification system I always dreamed of – incredibly simple, powerful, and endlessly customizable. Honestly, I
        can’t imagine running my projects without it."
      </p>
      <p style="text-align: right;">
        - wajeht, creator of Notify 👨‍🚀
      </p>
    </div>
  </section>

  <section
    style="display: flex; flex-direction: column; align-items: center; width: 100%; gap: 50px; padding-bottom: 60px;">
    <h2>🚀 Ready to streamline your notifications?</h2>
    <button style="width: 306px;" onclick="document.getElementById('sign-up-modal').showModal()">🎯 Get Started</button>
  </section>
</div>

<dialog id="sign-up-modal">
  <div style="display: flex; flex-direction: column; gap: 10px;">
    <h2>🔐 Login</h2>
    <p>Login to get started with Notify.</p>
    <a href="/login" style="text-decoration: none;">
      <button style="width: 100%;">🐙 Login with GitHub</button>
    </a>
    <p>By logging in, you agree to our <a href="/terms-of-service">📜 Terms of Service</a></p>
    <div style="display: flex; justify-content: flex-end;">
      <button onclick="document.getElementById('sign-up-modal').close()">❌ Cancel</button>
    </div>
  </div>
</dialog>
