<div class="flex bg-base-200 flex-col justify-center items-center min-h-screen">

  <div class="card bg-base-100 shadow-xl gap-10 min-w-[400px]">
    <div class="card-body gap-6">

      <div class="flex flex-col gap-1">
        <h1 class="font-bold text-3xl">Notify</h1>
        <p>send notification to discord, email, and sms</p>
      </div>

      <div class="flex flex-col">
        <h1 class="card-title">Signin</h1>
        <p>to continue to notify</p>
      </div>

      <div class="card-actions">
        <a href="/dashboard" class="btn w-full">Sign In with GitHub</a>
        <a href="/dashboard" class="btn w-full">Sign In with Google</a>
      </div>

      <p>By signing in, you agree to our <a href="/terms-of-service" class="link">Terms of Service</a></p>

    </div>
  </div>

</div>
