<div style="display: flex; flex-direction: column; gap: 20px;">

  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <h2>🔔 Notifications (<%= pagination.total %>)</h2>
      <p>All notifications</p>
    </div>

    <div style="display: flex; align-items: center; gap: 40px; justify-content: center;">

      <% if (pagination.total > 10) { %>
        <div style="display: flex; justify-content: center; gap: 10px; align-items: center;">
          <% if (pagination.currentPage > 1) { %>
            <a href="<%= path %>&page=1&perPage=<%= pagination.perPage %>">⏮️ First</a>
            <a href="<%= path %>&page=<%= pagination.currentPage - 1 %>&perPage=<%= pagination.perPage %>">⬅️ Previous</a>
          <% } %>

          <details style="position: relative;">
            <summary>📄 Page <%= pagination.currentPage %></summary>
            <div style="position: absolute; padding: 10px; width: max-content; display: flex; flex-direction: column; background-color: white; border: dashed; border-radius: 5px;">
              <% for (let i = 1; i <= pagination.lastPage; i++) { %>
                <% if (i !== pagination.currentPage) { %>
                  <a href="<%= path %>&page=<%= i %>&perPage=<%= pagination.perPage %>">Page <%= i %></a>
                <% } %>
              <% } %>
            </div>
          </details>

          <% if (pagination.currentPage < pagination.lastPage) { %>
            <a href="<%= path %>&page=<%= pagination.currentPage + 1 %>&perPage=<%= pagination.perPage %>">Next ➡️</a>
            <a href="<%= path %>&page=<%= pagination.lastPage %>&perPage=<%= pagination.perPage %>">Last ⏭️</a>
          <% } %>
        </div>
      <% } %>

      <% if (pagination.total > 0 || filter) { %>
        <div style="display: flex; gap: 20px; align-items: center;">
          <% if (filter) { %>
            <a href="/notifications">📱 All</a>
          <% } %>
          <% if (filter !== 'unread') { %>
            <a href="/notifications?filter=unread">🔴 unread</a>
          <% } %>
          <% if (filter !== 'read') { %>
            <a href="/notifications?filter=read">🟢 read</a>
          <% } %>
        </div>
      <% } %>

      <% if (state.unread_apps_notification_count > 0) { %>
        <form method="post" action="/notifications/read">
          <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />
          <button class="no-style-btn">✅ Mark all as read</button>
        </form>
      <% } %>
    </div>

  </div>

  <% notifications.forEach(n => { %>
    <div style="border-radius: 5px; border: dashed; padding: 20px; display: flex; flex-direction: column; gap: 10px;">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <a href="/apps/<%= n.app_id %>">📱 <%= n.app_name %></a>

        <% if (n.read_at === null) { %>
          <form method="post" action="/apps/<%= n.app_id %>/notifications/<%= n.id %>/read">
            <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />
            <button class="no-style-btn">Mark as read</button>
          </form>
        <% } %>
      </div>

      <div style="display: flex; align-items: baseline; gap: 20px;">
        <p style="font-weight: bold;">
          📅 <%= n.created_at %>
        </p>

        <p>💬 <%= n.message %></p>
      </div>

      <details>
        <summary>🔍 Details</summary>
        <pre><%= JSON.stringify(n, null, 2) %></pre>
      </details>
    </div>
  <% }) %>

  <% if (!notifications.length) { %>
    <div style="border-radius: 5px; border: dashed; padding: 20px; width: 32.5%;">
      <% if (!filter) { %>
        <p>🚫 There are no notifications currently</p>
      <% } else if (filter === 'unread') { %>
        <p>🚫 There are no unread notifications currently</p>
      <% } else if (filter === 'read') { %>
        <p>🚫 There are no read notifications currently</p>
      <% } %>
    </div>
  <% } %>
</div>
