<div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">

  <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <h2 style="margin: 0;">📦 Data</h2>
    <span>Data</span>
  </div>

  <div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">
    <div style="border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;">

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <h3>⚙️ Export configs</h3>
        <p>Export all configs for all of your apps</p>
        <p style="color: <%= user.export_count >= user.max_export_count_allowed ? 'red' : 'gray' %>;">Exports used: <%= user.export_count %> / <%= user.max_export_count_allowed %></p>
      </div>

      <form method="POST" action="/settings/data">
        <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />
        <button type="submit" style="width: 100%;" <%= user.export_count >= user.max_export_count_allowed ? 'disabled' : '' %>>⬇️ Export</button>
      </form>

      <% if (user.export_count >= user.max_export_count_allowed) { %>
        <p style="color: red;">You have reached your export limit. Please contact support if you need additional exports.</p>
      <% } %>

    </div>
  </div>

  <div style="border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;">
    <div style="display: flex; flex-direction: column; gap: 5px;">
      <h3>⬆️ Import configs</h3>
      <p>Import apps and their configurations</p>
    </div>

    <form method="POST" action="/settings/data/import">
      <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />
      <div style="display: flex; flex-direction: column; gap: 10px;">
        <textarea
          name="config"
          rows="10"
          style="width: 100%;"
          placeholder="Paste your JSON configuration here"></textarea>
        <button type="submit">⬆️ Import</button>
      </div>
    </form>
  </div>

</div>
