<div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">

  <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <h2 style="margin: 0;">Settings</h2>
    <span>settings</span>
  </div>

  <div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">
    <form
      style="border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;"
      action="#" method="POST">

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <h3>Account</h3>
        <p>Manage your account details.</p>
      </div>

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="name">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="name">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>

      <button type="submit" style="width: 100%;">Update</button>
    </form>
  </div>

</div>
