<div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">

  <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <h2 style="margin: 0;">⚙️ Settings</h2>
    <span>Settings</span>
  </div>

  <div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">
    <form
      style="background-color: var(--background-color); border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;"
      action="/settings/account" method="POST">

      <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <h3>👤 Account</h3>
        <p>Manage your account details.</p>
      </div>

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="username">👤 Username<span style="color: red;">*</span></label>
        <input type="text" id="username" name="username" value="<%= state.input.username ?? user.username %>" required>

        <% if (state.errors.username) { %>
          <small style="color: red;"><%= state.errors.username %></small>
        <% } %>
      </div>

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="email">📧 Email<span style="color: red;">*</span></label>
        <input type="email" id="email" name="email" value="<%= state.input.email ?? user.email %>" required>

        <% if (state.errors.email) { %>
          <small style="color: red;"><%= state.errors.email %></small>
        <% } %>
      </div>

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="timezone">🌐 Timezone<span style="color: red;">*</span></label>

        <select id="timezone" name="timezone" required>
          <option value="UTC" <%= (state.input.timezone ?? user.timezone) === 'UTC' ? 'selected' : '' %>>UTC</option>
          <option value="America/New_York" <%= (state.input.timezone ?? user.timezone) === 'America/New_York' ? 'selected' : '' %>>Eastern Time</option>
          <option value="America/Chicago" <%= (state.input.timezone ?? user.timezone) === 'America/Chicago' ? 'selected' : '' %>>Central Time</option>
          <option value="America/Denver" <%= (state.input.timezone ?? user.timezone) === 'America/Denver' ? 'selected' : '' %>>Mountain Time</option>
          <option value="America/Los_Angeles" <%= (state.input.timezone ?? user.timezone) === 'America/Los_Angeles' ? 'selected' : '' %>>Pacific Time</option>
        </select>

        <% if (state.errors.timezone) { %>
          <small style="color: red;"><%= state.errors.timezone %></small>
        <% } %>
      </div>

      <button type="submit" style="width: 100%;">🔄 Update</button>
    </form>
  </div>

</div>
