<header style="flex: 0; display: flex; flex-direction: column; gap: 20px; border-bottom: dashed; padding-bottom: 30px;">
  <div>
    <h1><a href="/apps">🔔 Notify</a></h1>
    <p>Web 2.0 style notification systems for Discord, email, and SMS</p>
  </div>

  <nav style="display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; align-items: center; gap: 20px;">
      <a style="background-color: var(--background-color); border: dashed; border-radius: 5px; padding: 5px 10px; font-weight: <%= path.startsWith('/apps') ? 'bold' : 'normal' %>; <%= path.startsWith('/apps') ? 'text-decoration: underline;' : null %>" href="/apps">📱 Apps</a>
      <a style="background-color: var(--background-color); border: dashed; border-radius: 5px; padding: 5px 10px; font-weight: <%= path.startsWith('/notifications') ? 'bold' : 'normal' %>; <%= path.startsWith('/notifications') ? 'text-decoration: underline;' : null %>" href="/notifications">🔔 Notifications <% if (state.unread_apps_notification_count > 0) { %>(<%= state.unread_apps_notification_count %>) <% } %></a>
    </div>

    <details style="position: relative;">
      <summary><%= state.user.username %> 👤</summary>
      <div style="position: absolute; top: 100%; right: 0; z-index: 1; border: dashed; display: flex; flex-direction: column; padding: 10px; background-color: var(--background-color); border-radius: 5px; min-width: 150px; gap: 10px;">
        <% if (state.user.is_admin) { %>
          <a style="font-weight: <%= (path === '/admin' || path === '/admin/users') ? 'bold' : 'normal' %>; <%= (path === '/admin' || path === '/admin/users') ? 'text-decoration: underline' : null %>" href="/admin">🛡️ Admin</a>
        <% } %>

        <a style="font-weight: <%= path === '/settings' ? 'bold' : 'normal' %>; <%= path === '/settings' ? 'text-decoration: underline' : null %>" href="/settings">⚙️ Settings</a>
        <hr style="border: none; border-top: dashed 1px; margin: 5px 0;">
        <a href="/logout">🚪 Logout</a>
      </div>
    </details>
  </nav>
</header>
