<!doctype html>
<html lang="en">

	<%- include('../components/head.html') %>

	<body style="display: flex; flex-direction: column; gap: 20px; min-height: 100vh;">

		<%- include('../components/header.html') %>

		<main style="flex: 1; display: flex; flex-direction: column; gap: 10px;">

			<h2>Apps / <%= app.id %></h2>

			<div style="display: grid; grid-template-columns: 15% 85%; flex: 1;">
				<aside style="display: inline-block; border-right: dashed; height: 100%;">
					<div style="display: flex; flex-direction: column; gap: 5px">
						<a style="font-weight: <%= path === `/apps/${app.id}` ? 'bold' : 'normal' %>; text-decoration: <%= path === `/apps/${app.id}` ? 'underline' : 'none' %>;" href="/apps/<%= app.id %>">App</a>
						<a style="font-weight: <%= /\/apps\/.*\/channels/.test(path) ? 'bold' : 'normal' %>; text-decoration: <%= /\/apps\/.*\/channels/.test(path) ? 'underline' : 'none' %>;" href="/apps/<%= app.id %>/channels">Channels</a>
						<a style="font-weight: <%= /\/apps\/.*\/notifications/.test(path) ? 'bold' : 'normal' %>; text-decoration: <%= /\/apps\/.*\/notifications/.test(path) ? 'underline' : 'none' %>;" href="/apps/<%= app.id %>/notifications">Notifications</a>
					</div>
				</aside>

				<div style="display: inline-block; padding-left: 40px;">
					<%- body %>
				</div>

			</div>

		</main>

		<%- include('../components/footer.html') %>

	</body>
</html>
