<script>
	document.addEventListener('DOMContentLoaded', () => {
		document.getElementById('year').innerText = new Date().getFullYear();
	})
</script>

<footer style="flex: 0; padding: 20px; text-align: center;">
	<p>
		Copyright © <span id="year"></span>. Made with ❤️ by
		<a href="https://github.com/wajeht" title="https://github.com/wajeht" target="_blank">wajeht</a> |
		<a href="https://github.com/wajeht/notify" title="https://github.com/wajeht/notify" target="_blank">github</a>
	</p>
</footer>
