<header style="flex: 0;">
  <div>
    <h1><a href="/">Notify</a></h1>
    <p>send notification to discord, email, and sms</p>
  </div>

  <nav style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <a style="font-weight: <%= path === '/apps' ? 'bold' : 'normal' %>;" href="/apps">Apps</a>
      <a style="font-weight: <%= path === '/profile' ? 'bold' : 'normal' %>;" href="/profile">Profile</a>
      <a style="font-weight: <%= path === '/settings' ? 'bold' : 'normal' %>;" href="/settings">Settings</a>
    </div>

    <a href="/logout">Logout</a>
  </nav>
</header>
