<header class="navbar p-10 sticky top-0 z-10 backdrop-blur-sm bg-base-100/70 border border-b border-gray-100">
  <div class="max-w-6xl mx-auto justify-between w-full items-center">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl font-extrabold" href="/">Notify</a>
    </div>

    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <!-- <img alt="Tailwind CSS Navbar component" src="" /> -->
            <div class="bg-gray-300 h-full w-full"></div>
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a href="/profile" class="justify-between">Profile</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
