<header style="flex: 0; display: flex; flex-direction: column; gap: 20px;">
  <div>
    <h1><a href="/">Notify</a></h1>
    <p>send notification to discord, email, and sms</p>
  </div>

  <nav style="display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; align-items: center; gap: 20px;">
      <a style="font-weight: <%= path === '/apps' ? 'bold' : 'normal' %>; text-decoration: <%= path === '/apps' ? 'underline' : 'none' %>;" href="/apps">Apps</a>
      <a style="font-weight: <%= path === '/jobs' ? 'bold' : 'normal' %>; text-decoration: <%= path === '/jobs' ? 'underline' : 'none' %>;" href="/jobs">Jobs</a>
      <a style="font-weight: <%= path === '/notifications' ? 'bold' : 'normal' %>; text-decoration: <%= path === '/notifications' ? 'underline' : 'none' %>;" href="/notifications">Notifications</a>
    </div>

    <div style="display: flex; align-items: center; gap: 20px;">
      <a style="font-weight: <%= path === '/settings' ? 'bold' : 'normal' %>; text-decoration: <%= path === '/settings' ? 'underline' : 'none' %>;" href="/settings">Settings</a>
      <a href="/logout">Logout</a>
    </div>
  </nav>
</header>
