<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Notify</title>
	<meta name="description" content="web 2.0 style notification systems for discord, email, and sms" />
	<meta name="keywords" content="notify, notifications, alerts, messaging, web service, discord, sms" />
	<meta name="author" content="wajeht" />

	<link rel="preload" href="/style.css" as="style" />
  <link rel="preload" href="/script.js" as="script" />

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://notify.jaw.dev/" />
	<meta property="og:title" content="notify - Your Notification Service" />
	<meta property="og:description" content="web 2.0 style notification systems for discord, email, and sms" />
	<meta property="og:image" content="https://notify.jaw.dev/og-image.jpg" />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:url" content="https://notify.jaw.dev/" />
	<meta property="twitter:title" content="Notify" />
	<meta property="twitter:description" content="web 2.0 style notification systems for discord, email, and sms" />
	<meta property="twitter:image" content="https://notify.jaw.dev/twitter-og-image.jpg" />

	<link rel="canonical" href="https://notify.jaw.dev/" />

	<link rel="stylesheet" href="/style.css" />

	<script defer data-domain="notify.jaw.dev" src="https://plausible.jaw.dev/js/script.js"></script>
</head>
